<!--skills start -->
<section id="skills" class="skills">
  <div class="skill-content">
    <div class="section-heading text-center" style="background: #FFFFE0">
      <h2 style="padding-top:100px">skills</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="single-skill-content">
            <div class="barWrapper">
              <span class="progressText">BEING ADORABLE</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="10" aria-valuemax="100" style="width: 100%">
                      
                  </div>
                </div>
                <h3>100% Amazing</h3>	
              </div>
            </div><!-- /.barWrapper -->
            <div class="barWrapper">
              <span class="progressText">Beautiful</span>
              <div class="single-progress-txt">
                <div class="progress ">
                   <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="10" aria-valuemax="100" style="width: 100%">
                      
                   </div>
                </div>
                <h3>11/10 110%!!</h3>	
              </div>
            </div><!-- /.barWrapper -->
            <div class="barWrapper">
              <span class="progressText">Sleep</span>
              <div class="single-progress-txt">
                <div class="progress ">
                   <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="10" aria-valuemax="100" style="width:30%">
                     
                   </div>
                </div>
                <h3>Needs Work Hehe</h3>	
              </div>
            </div><!-- /.barWrapper -->
            <div class="barWrapper">
              <span class="progressText">Diet</span>
              <div class="single-progress-txt">
                <div class="progress ">
                   <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="10" aria-valuemax="100" style="width:50%">
                      
                   </div>
                </div>
                <h3>~I Love Sweets~</h3>	
              </div>
            </div><!-- /.barWrapper -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-skill-content">
            <div class="barWrapper">
              <span class="progressText">Pharmacy Skillzz</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="10" aria-valuemax="100" style="width:100%">
                    
                  </div>
                </div>
                <h3>4.0 BABY!!!!</h3>	
              </div>
            </div><!-- /.barWrapper -->
            <div class="barWrapper">
              <span class="progressText">Making Daniel Happy ^.^</span>
              <div class="single-progress-txt">
                <div class="progress ">
                   <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="10" aria-valuemax="100" style="width: 100%">
                      
                   </div>
                </div>
                <h3>Definitely Always <3</h3>	
              </div>
            </div><!-- /.barWrapper -->
            <div class="barWrapper">
              <span class="progressText">Communication</span>
              <div class="single-progress-txt">
                <div class="progress ">
                   <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="100" style="width:75%">
                     
                   </div>
                </div>
                <h3>#GHOSTED</h3>	
              </div>
            </div><!-- /.barWrapper -->
            <div class="barWrapper">
              <span class="progressText"> Stress Management </span>
              <div class="single-progress-txt">
                <div class="progress ">
                   <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="10" aria-valuemax="100" style="width: 40%">
                      
                   </div>
                </div>
                <h3>Econ 101</h3>	
              </div>
            </div><!-- /.barWrapper -->
          </div>
        </div>
      </div><!-- /.row -->
    </div>	<!-- /.container -->		
  </div><!-- /.skill-content-->

  

</section><!--/.skills-->
<!--skills end -->