<!--welcome-hero start -->

<section id="welcome-hero" class="welcome-hero">
    
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="header-text">
          <h2>Hello! I am <br> Kim Ngo!  </h2>
          <p>UNC Eshelman School of Pharmacy</p>
          <a download style="color:white">download resume</a>
        </div><!--/.header-text-->
      </div><!--/.col-->
    </div><!-- /.row-->
  </div><!-- /.container-->

</section><!--/.welcome-hero-->
<!--welcome-hero end -->


